Loading the excel data file into pandas using the read_excel() function. Locating the directory of the excel file at first which is more efficient to keep the dataset in the same directory.

**Data= pd.read_excel(r”File_location”)**

r stands for "raw" and will cause backslashes in the string to be interpreted as actual backslashes rather than special characters.

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data=pd.read_excel("/content/Crude Oil Prices Daily.xlsx")

In [15]:
data.head()

        Date  Closing Value
0 1986-01-02          25.56
1 1986-01-03          26.00
2 1986-01-06          26.53
3 1986-01-07          25.85
4 1986-01-08          25.87

In [17]:
data.head()

        Date  Closing Value
0 1986-01-02          25.56
1 1986-01-03          26.00
2 1986-01-06          26.53
3 1986-01-07          25.85
4 1986-01-08          25.87